numpy
matplotlib
seaborn
scipy
emcee==2.2.0
matplotlib
astropy
torch==1.7.0
torchdiffeq
scikit-learn
jupyter
pandas
mpipool
tensorflow>=2.3
tensorflow_probability
dm-sonnet
# The following is needed for running simulations themselves
# camb
